# Ignore everything at repo root
/*

# Keep these root files
!/.gitignore
!/README.md
!/CLAUDE.md
!/settings.json
!/agents

!/commands/
/commands/*
!/commands/context/
!/commands/context/**

!/workflows/
/workflows/*
!/workflows/memory-bank/
!/workflows/memory-bank/**